@page "/postDetails/{PostId}"
@inject IPostService postService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager



<div class="card-body">
    <h5 class="card-title">@postEntity.Title</h5>
    <p>@postEntity.Username on <small class="card-title  text-muted">@postEntity.CreatedOn</small></p><br/>
    <p>
        <div class="card-text">@postEntity.Description</div>
    </p>
    <br />
    <br />
    <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>
</div>

    @code {
        [Parameter]
        public string PostId { get; set; }

        TKAPosts postEntity = new TKAPosts();

        protected override async Task OnInitializedAsync()
        {
            postEntity = await postService.GetPostById(Convert.ToInt32(PostId));
        }

        void cancel()
        {
            navigationManager.NavigateTo("/postlist");
        }
    }
