@page "/postDetails/{PostId}"
@inject IPostService postService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager



<div class="card-body">
    <h5 class="card-title">@postEntity.Title</h5>
    <p>@postEntity.Username on <small class="card-title  text-muted">@postEntity.CreatedOn</small></p><br/>
    <p>
        <div class="card-text">@postEntity.Description</div>
    </p>
    <br />
    <br />
   
</div>
<div class="row">
    <div class="col-md-6">
        <form>
            <textarea class="control-label" rows="7" cols="65" placeholder="Write the Description here...." @bind=@tkaposts.Comment></textarea>
            <br />
            <br />
            <button type="button" class="btn btn-primary" @onclick="() => CreateComment()">Save Comment</button>
            <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>

        </form>
    </div>
</div>

    @code {
        [Parameter]
        public string PostId { get; set; }

        TKAPosts postEntity = new TKAPosts();

        protected override async Task OnInitializedAsync()
        {
            postEntity = await postService.GetPostById(Convert.ToInt32(PostId));
        }


        TKAComments tkaposts = new TKAComments();
        
        protected async Task CreateComment()
        {
            await postService.CreateComment(tkaposts, postEntity);
            navigationManager.NavigateTo("/myposts");
        }

        void cancel()
        {
            navigationManager.NavigateTo("/myposts");
        }
    }
